<template>
    <p>{{ post.body }}</p>
    <RouterLink to="/" class="link">Back to home</RouterLink>
</template>

<script lang="ts" setup>
import { onMounted,ref,Ref } from 'vue'
import { useRoute } from 'vue-router';
import PostService from '@/services/PostService';
import IPost from '@/services/interfaces/IPost';

const postService=new PostService()
const post:Ref<IPost> =ref({})

onMounted(async()=>{
    const route=useRoute()
    const elm=route.params.id
    await postService.fetchById(elm)
    post.value=postService.getPost()
})

</script>

<style scoped>

</style>