<template>
    <h1>Post List</h1>
    <ul>
        <li v-for="post in posts" :key="post.id">
            <Router-link :to="{name:'detail' ,params:{id:post.id}}" >{{ post.title }}</Router-link>
        </li>
    </ul>
</template>

<script lang="ts" setup>
import PostService from '@/services/PostService';
import IPost from '@/services/interfaces/IPost';
import { onMounted,ref,Ref } from 'vue'

const postService = new PostService()
const posts:Ref <Array<IPost>> =ref([])

onMounted(async()=>{
    
    await postService.fetchAll()
    posts.value=postService.getPosts()
})

</script>

<style scoped>

</style>