<template>
    <h1>Login</h1>
    <input type="text" placeholder="email" id="email" v-model="email"/>
    <input type="password" placeholder="password" id="password" v-model="password"/>
    <button @click="login">Login</button>
    <p class="error" v-if="!succes">Wrong email or password</p>
</template>

<script lang="ts" setup>
import { Ref,ref } from 'vue'
import { useAuth } from '@/store/useAuth';
import router from '@/router';

const store=useAuth()
const email:Ref<string> =ref('')
const password:Ref<string> =ref('')
const succes:Ref<boolean> =ref(true)
    
const login=()=>{
    succes.value=store.login(email.value,password.value)
    console.log(succes.value);
    if(store.is_auth){
        router.push('/')
    }else{
        succes.value=false
    }
}

</script>

<style scoped>
    .error{
        color: red;
    }
</style>